### Data Structures
 - list
 - tuple
 - sets
 - dictionary

##### 1. what is a List?
##### 2. List creation
##### 3. Accessing List items
##### 4. Slicing a List
##### 5. List Function
##### 6. List Methods
##### 7. List operations
    > change item in a list
    > Concatenation
    > repetition
    > delete
##### 8. List Comprehension

In [ ]:
5,3,6,9,7,8,9,9

In [1]:
a = 10,25,30,25

In [2]:
a

(10, 25, 30, 25)

## List

- Lists is a collection of `heterogenous data types` in python.Data types like 'interger','float','strings'.
- Lists are mutable(altered even after creation).
- Lists are ordered and have a definite count. when we print a list ,we'll always get the same order.
- The elements in a list are indexed according to a definite sequence. Index start with 0 in python.
- Lists allows duplicate members.

 #### Creating a List
 
 Creating a list is pretty straight forward. Items separated by commas are enclosed within brackets **[ ]**.
 
 **`Syntax : [item1, item2, item3..]`**

In [3]:
l = [] # empty list

In [4]:
type(l)

list

In [15]:
l = [9,2,4,56]

In [6]:
l

[2, 4, 5, 9]

In [7]:
# Create a list of 'Statistics', 'Programming', 2016, 2017, 2018

l = ['statistics','programming',2016,2017,2018]
l

['statistics', 'programming', 2016, 2017, 2018]

In [8]:
type(l)

list

In [9]:
[2.3,True,False,25+36j,10,'python']

[2.3, True, False, (25+36j), 10, 'python']

In [19]:
# create a list with name,age,job_exp
l = [['east','john','pencil',25,200],['west','acx','pen',20,150,35]] # Nested list

In [20]:
l

[['east', 'john', 'pencil', 25, 200], ['west', 'acx', 'pen', 20, 150, 35]]

In [21]:
import pandas as pd

In [22]:
pd.DataFrame(l)

      0     1       2   3    4     5
0  east  john  pencil  25  200   NaN
1  west   acx     pen  20  150  35.0

### Access items of a List

You can access the list items by referring to the index number:

**`syntax : list[index]`**

In [23]:
l = [5,6,9,7,2,10,11,15,14]
l

[5, 6, 9, 7, 2, 10, 11, 15, 14]

In [24]:
len(l)

9

In [25]:
l[7]

15

In [26]:
l

[5, 6, 9, 7, 2, 10, 11, 15, 14]

In [27]:
l1= [15,15,15,2,3]

In [28]:
l1[2]

15

In [29]:
l

[5, 6, 9, 7, 2, 10, 11, 15, 14]

In [30]:
l[3]

7

In [31]:
l[6]

11

In [32]:
l[9]

IndexError: list index out of range

In [34]:
2,5,6

(2, 5, 6)

In [36]:
l[{2,5,6}]

TypeError: list indices must be integers or slices, not set

### Slicing a List

slicing can be done by using ***:***.(colon).

- **list[  : ]**       : Returns all the items of a list.
- **list[ i: ]**       : Returns items of a list from index(position) **i to n-1**.
- **list[ : i ]**      : Returns items of a list from index **0 to i-1**.
- **list[ i : j ]**    : Returns items of a list from index **i to j-1**.
- **list[ i : j : m]** : Returns items of a list from index **i to j-1 increament by m**

In [37]:
l

[5, 6, 9, 7, 2, 10, 11, 15, 14]

**list_name[start_index : end_index : step / increment]**

In [38]:
l[ : : ]

[5, 6, 9, 7, 2, 10, 11, 15, 14]

In [39]:
l[1:]

[6, 9, 7, 2, 10, 11, 15, 14]

In [40]:
l[1:5]

[6, 9, 7, 2]

In [41]:
l

[5, 6, 9, 7, 2, 10, 11, 15, 14]

In [42]:
l[1:6:2] # 1,1+2 = 3,3+2=5

[6, 7, 10]

In [43]:
l[:9:3] # 0 ,0+3,3+3

[5, 7, 11]

In [44]:
l

[5, 6, 9, 7, 2, 10, 11, 15, 14]

In [ ]:
# output 10

In [45]:
l[::6]

[5, 11]

In [46]:
l[5:6]

[10]

In [47]:
l[-1]

14

In [48]:
l

[5, 6, 9, 7, 2, 10, 11, 15, 14]

In [50]:
l [-1:]

14

In [51]:
l[:-1]

[5, 6, 9, 7, 2, 10, 11, 15]

In [52]:
l[-5:-2] # l[4:7]

[2, 10, 11]

In [53]:
l[4:7]

[2, 10, 11]

In [56]:
l[-5:-2:-1]

[]

### Built-in List Functions

- **len(list)**           : Returns number of items present in a list.
- **max(list)**           : Return maximum item in a list.
- **min(list)**           : Return minimun item in a list.
- **Sum(list)**           : Return sum of all items present in a list.

In [ ]:
x  = [100,580,980,789,568,258,125,459,3698,125,147,3698]

In [ ]:
x[-4:-1:-1]

### Built-in List Methods

A method is a sequence of instructions to perform on something. Unlike a function, it does modify the construct on which it is called. 

- **list.append(item)**                : Append object to a list.
- **list.count(item)**                 : Returns number of times an object occures in a list.
- **list.extend(sequence)**            : Appened content of sequence to a list.
- **list.index(item)**                 : Return the first index position of an item.
- **list.insert(index,item)**          : Insert an item into a list at specified index.
- **list.pop(index)**                  : Remove and return an item from a list based on index. 
- **list.reverse()**                   : Reverse items in a list.
- **list.sort()**                      : Sort items in a list.
- **list.clear()**                     : Remove all elements from a list.
- **list.copy()**                      : Make a copy of list.

In [ ]:
x = [2,3,6,9,6]

### List Operations

#### Change Item in a list

To change the value of a specific item, refer to the index number:

**`syntax : list[index] = [New_Item]`**

#### Check if an item exists in a List

To determine if a specified present in a list use **in** membership keywoard.

**`syntax : item in list`**

In [ ]:
x = ['c', 'b', 'a', 3, 2, 1]
'a'in x

#### Concatenation

To join two lists use **"+"** operator.

**`syntax : list1 + list3`**

In [ ]:
list1 = [2,6,1.2]
list2 = ['a','b','c']

#### Repetition

Repeat the list by given number of times.

**`syntax : list*number`**

In [ ]:
# Repeat a list 2 times
list2 = ['a','b','c']

### Iteration or Loop 

You can loop through the list items by using a for loop.

**syntax : for val in list:**

In [ ]:
# Example
l = [1,5,9,3]

for x in l:
    print(x)

### Delete

Delete an item of a list at specified index.

**syntax : del list[index]**

To delete complete list

**syntax : del list**